name: tags
on:
  push:
    tags:
      - 'v*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: setup etc for org.build.yml
        run: |
          echo "WORKFLOW_ETC_BASE64JSON=$(echo '{"unraid":true, "nobody":true}' | base64 -w 0)" >> "${GITHUB_ENV}"
          echo "WORKFLOW_ETC_FULL_BASE64JSON=$(echo '{"unraid":true, "nobody":true, "build":{"args":{"NGINX_CONFIGURATION":"full"}}}' | base64 -w 0)" >> "${GITHUB_ENV}"

      - name: build container images
        uses: the-actions-org/workflow-dispatch@3133c5d135c7dbe4be4f9793872b6ef331b53bc7
        with:
          workflow: org.build.yml
          wait-for-completion: true
          token: "${{ secrets.REPOSITORY_TOKEN }}"
          inputs: '{ "ref":"${{ github.ref_name }}", "etc":"${{ env.WORKFLOW_ETC_BASE64JSON }}" }'

      - name: build container images for full
        uses: the-actions-org/workflow-dispatch@3133c5d135c7dbe4be4f9793872b6ef331b53bc7
        with:
          workflow: org.build.yml
          wait-for-completion: true
          token: "${{ secrets.REPOSITORY_TOKEN }}"
          inputs: '{ "ref":"${{ github.ref_name }}", "etc":"${{ env.WORKFLOW_ETC_FULL_BASE64JSON }}" }'